# Hernoem dit bestand naar .env voor basis instellingen
# Lokale development database
VITE_POCKETBASE_URL=http://127.0.0.1:8090
# Productie database (gebruik deze alleen in je productieomgeving)
# VITE_POCKETBASE_URL=https://db.projectdroid.nl

# Setup scripts admin credentials
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=adminpassword
