# Hernoem dit bestand naar .env voor basis instellingen
# https://db.projectdroid.nl should be used for production
VITE_POCKETBASE_URL=https://db-dev.projectdroid.nl

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=adminpassword

VITE_BYPASS_LOGIN=true
